workflows/daily-weather.json
{
  "updatedAt": "2025-12-24T00:36:55.799Z",
  "createdAt": "2025-12-13T04:57:38.978Z",
  "id": "vZCByZUyKXAkIuG8",
  "name": "Daily weather",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        168
      ],
      "id": "1c1673d7-df3a-4af8-a006-172c8833defe",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "Auckland, New Zealand"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        168
      ],
      "id": "04d3971e-4b3e-4e64-b633-65a752a66c0e",
      "name": "Get Longitude/Latitude",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://weather.googleapis.com/v1/forecast/hours:lookup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location.latitude",
              "value": "={{ $json.results[0].geometry.location.lat }}"
            },
            {
              "name": "location.longitude",
              "value": "={{ $json.results[0].geometry.location.lng }}"
            },
            {
              "name": "hours",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        24
      ],
      "id": "404ce7d6-03ba-44c3-af08-de31e9da1d7e",
      "name": "Get Hourly Forecast",
      "retryOnFail": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "MvjUsPe2F2yAjkJ3",
          "name": "Google API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.promptText }}"
            }
          ]
        },
        "options": {
          "systemMessage": "You are a cheerful and enthusiastic weather assistant who transforms raw weather data into engaging, personalized daily forecasts. Your goal is to help people start their day informed and prepared.  ## Your Role - Analyze weather data (temperature, conditions, humidity, wind, etc.) and create a friendly, conversational summary - Provide practical advice on what to wear and what to bring (umbrella, sunscreen, jacket, etc.) - Highlight any notable weather conditions or changes throughout the day - Use a warm, upbeat tone that makes checking the weather feel like chatting with a helpful friend - Be concise but informative - aim for 5 short sentences maximum  ## Style Guidelines - Start with a friendly greeting appropriate to the weather (e.g., \"Good morning! ☀️\" or \"Rise and shine! 🌧️\") - Use emojis sparingly but effectively to add personality - Avoid robotic or overly formal language - Include one light joke or playful comment when appropriate (but don't force it) - End with an encouraging sign-off  ## What to Include 1. **Current conditions**: Temperature, \"feels like\" temp, and overall weather description 2. **Comfort factors**: Humidity levels if notable, wind conditions if significant 3. **Practical advice**: Clothing suggestions, whether to bring an umbrella/sunglasses/layers 4. **Day outlook**: If data includes hourly forecasts, mention any changes expected (morning vs afternoon) 5. **Activity suggestions**: Brief mention if it's a great day for outdoor activities or better to stay cozy inside  ## What to Avoid - Don't just repeat the raw numbers - interpret them - Don't be overly dramatic about normal weather - Don't provide safety warnings for extreme weather you're not qualified to assess - Don't make the message too long - keep it scannable  ## Example Tone Instead of: \"Temperature: 18°C, Partly cloudy, Humidity: 65%\" Say: \"Good morning! It's a pleasant 18°C out there with some clouds playing peek-a-boo with the sun. You'll want a light jacket for the morning, but you might shed it by afternoon!\"  Transform the weather data into a message that makes people smile while helping them plan their day confidently."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        -48
      ],
      "id": "dcf4dc04-4aa9-47b5-bf8d-7cc64b93df9e",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googlePalmApi": {
          "id": "rnFSzlvICyu1FztM",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract the weather data from the API response\nconst weatherData = $input.first().json;\nconst forecastHours = weatherData.forecastHours;\n\n// Get current hour (first item in the array)\nconst current = forecastHours[0];\n\n// Get the next few hours for trends\nconst next12Hours = forecastHours.slice(0, 13);\n\n// Find day and evening forecasts\nconst dayForecasts = forecastHours.filter(h => h.isDaytime);\nconst eveningForecasts = forecastHours.filter(h => !h.isDaytime);\n\n// Calculate high/low for the day\nconst dayTemps = dayForecasts.map(h => h.temperature.degrees);\nconst highTemp = Math.max(...dayTemps);\nconst lowTemp = Math.min(...dayTemps);\n\n// Check for rain chances\nconst rainChances = forecastHours.map(h => h.precipitation.probability.percent);\nconst maxRainChance = Math.max(...rainChances);\n\n// Format a readable summary\nconst formattedData = {\n  currentConditions: {\n    time: `${current.displayDateTime.hours}:00`,\n    temperature: current.temperature.degrees,\n    feelsLike: current.feelsLikeTemperature.degrees,\n    condition: current.weatherCondition.description.text,\n    humidity: current.relativeHumidity,\n    windSpeed: current.wind.speed.value,\n    windDirection: current.wind.direction.cardinal,\n    uvIndex: current.uvIndex,\n    rainChance: current.precipitation.probability.percent\n  },\n  \n  dayOverview: {\n    highTemp: highTemp,\n    lowTemp: lowTemp,\n    maxRainChance: maxRainChance,\n    summaryConditions: [...new Set(dayForecasts.map(h => h.weatherCondition.description.text))].join(', ')\n  },\n  \n  next12Hours: next12Hours.map(h => ({\n    time: `${h.displayDateTime.hours}:00`,\n    temp: h.temperature.degrees,\n    condition: h.weatherCondition.description.text,\n    rainChance: h.precipitation.probability.percent\n  })),\n  \n  // Formatted text for AI prompt\n  promptText: `Today's Weather Summary:\n\nCURRENT CONDITIONS (${current.displayDateTime.hours}:00):\n- Temperature: ${current.temperature.degrees}°C (feels like ${current.feelsLikeTemperature.degrees}°C)\n- Conditions: ${current.weatherCondition.description.text}\n- Humidity: ${current.relativeHumidity}%\n- Wind: ${current.wind.speed.value} km/h from the ${current.wind.direction.cardinal.toLowerCase().replace(/_/g, '-')}\n- UV Index: ${current.uvIndex}\n- Chance of rain: ${current.precipitation.probability.percent}%\n\nTODAY'S FORECAST:\n- High: ${highTemp}°C\n- Low: ${lowTemp}°C\n- Conditions throughout day: ${[...new Set(dayForecasts.map(h => h.weatherCondition.description.text))].join(', ')}\n- Maximum rain chance: ${maxRainChance}%\n\nNEXT 12 HOURS:\n${next12Hours.map(h => \n  `${h.displayDateTime.hours}:00 - ${h.temperature.degrees}°C, ${h.weatherCondition.description.text}, ${h.precipitation.probability.percent}% rain`\n).join('\\n')}\n\nPlease provide a friendly weather summary based on this data.`\n};\n\nreturn {\n  json: formattedData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -48
      ],
      "id": "d1511000-80a0-4a77-aca0-f4e7bcad9108",
      "name": "Generate prompt"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1448492576758956196",
          "mode": "list",
          "cachedResultName": "n8n8n8n",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
        },
        "channelId": {
          "__rl": true,
          "value": "1448493662425190500",
          "mode": "list",
          "cachedResultName": "weather-updates🌞",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1448493662425190500"
        },
        "content": "={{$now.toLocaleString({dateStyle: 'full'})}}\n{{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1616,
        0
      ],
      "id": "3913c78d-2d85-498f-9a3d-280f6712ef33",
      "name": "Notify Discord",
      "webhookId": "f43964d9-84ec-46f6-928d-cf6139b5e44c",
      "credentials": {
        "discordBotApi": {
          "id": "0q4bkczLogSD1luU",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        360
      ],
      "id": "ac73d234-449a-40d5-90c7-42793981b2f5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "path": "d086f11e-3d86-42cf-8749-ec5d25e892f3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -24
      ],
      "id": "c13fefca-f3f4-42cb-8350-3e51b79b3299",
      "name": "Webhook",
      "webhookId": "d086f11e-3d86-42cf-8749-ec5d25e892f3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"description\": \"{{ $json.content.parts[0].text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1616,
        -192
      ],
      "id": "72fc58f9-9b8e-4bb1-9459-62d8c9e068ac",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7b7937a8-2bca-47cb-9bf3-64830b2c32d5",
              "leftValue": "={{ $('Webhook').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        -96
      ],
      "id": "f4e1590b-f19b-43c4-9cfe-382d42f2f451",
      "name": "If triggered by webhook"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1448492576758956196",
          "mode": "list",
          "cachedResultName": "n8n8n8n",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
        },
        "channelId": {
          "__rl": true,
          "value": "1453174481496572208",
          "mode": "list",
          "cachedResultName": "workflow-errors⚠️",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1453174481496572208"
        },
        "content": "={{ $now.toLocaleString({dateStyle: 'full'}) }}\nWorkflow: Daily Weather\nNode: {{ $prevNode.name }}\nError: {{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1616,
        208
      ],
      "id": "35434780-b124-4226-a2c1-19f49424c8df",
      "name": "Send error",
      "webhookId": "26897aa1-95eb-446b-b8ee-65cced79febd",
      "credentials": {
        "discordBotApi": {
          "id": "0q4bkczLogSD1luU",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "63a03aa6-c10f-4582-953a-b91e7000ff01",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        96
      ],
      "id": "4d60e7b0-e670-4bec-a1fd-5ceb065efdaf",
      "name": "If valid response"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Longitude/Latitude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Longitude/Latitude": {
      "main": [
        [
          {
            "node": "If valid response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hourly Forecast": {
      "main": [
        [
          {
            "node": "Generate prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If triggered by webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Longitude/Latitude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Longitude/Latitude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If triggered by webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If valid response": {
      "main": [
        [
          {
            "node": "Get Hourly Forecast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "64d72103-06ef-4fcf-9849-b9c561e2d1b0",
  "activeVersionId": "64d72103-06ef-4fcf-9849-b9c561e2d1b0",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-13T04:57:38.986Z",
      "createdAt": "2025-12-13T04:57:38.986Z",
      "role": "workflow:owner",
      "workflowId": "vZCByZUyKXAkIuG8",
      "projectId": "Zegp8TetQgawftof"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-24T00:37:08.000Z",
    "createdAt": "2025-12-24T00:36:55.803Z",
    "versionId": "64d72103-06ef-4fcf-9849-b9c561e2d1b0",
    "workflowId": "vZCByZUyKXAkIuG8",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -80,
          168
        ],
        "id": "1c1673d7-df3a-4af8-a006-172c8833defe",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "https://maps.googleapis.com/maps/api/geocode/json",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "address",
                "value": "Auckland, New Zealand"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          144,
          168
        ],
        "id": "04d3971e-4b3e-4e64-b633-65a752a66c0e",
        "name": "Get Longitude/Latitude",
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "https://weather.googleapis.com/v1/forecast/hours:lookup",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "location.latitude",
                "value": "={{ $json.results[0].geometry.location.lat }}"
              },
              {
                "name": "location.longitude",
                "value": "={{ $json.results[0].geometry.location.lng }}"
              },
              {
                "name": "hours",
                "value": "24"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          592,
          24
        ],
        "id": "404ce7d6-03ba-44c3-af08-de31e9da1d7e",
        "name": "Get Hourly Forecast",
        "retryOnFail": true,
        "credentials": {
          "httpQueryAuth": {
            "id": "MvjUsPe2F2yAjkJ3",
            "name": "Google API"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "={{ $json.promptText }}"
              }
            ]
          },
          "options": {
            "systemMessage": "You are a cheerful and enthusiastic weather assistant who transforms raw weather data into engaging, personalized daily forecasts. Your goal is to help people start their day informed and prepared.  ## Your Role - Analyze weather data (temperature, conditions, humidity, wind, etc.) and create a friendly, conversational summary - Provide practical advice on what to wear and what to bring (umbrella, sunscreen, jacket, etc.) - Highlight any notable weather conditions or changes throughout the day - Use a warm, upbeat tone that makes checking the weather feel like chatting with a helpful friend - Be concise but informative - aim for 5 short sentences maximum  ## Style Guidelines - Start with a friendly greeting appropriate to the weather (e.g., \"Good morning! ☀️\" or \"Rise and shine! 🌧️\") - Use emojis sparingly but effectively to add personality - Avoid robotic or overly formal language - Include one light joke or playful comment when appropriate (but don't force it) - End with an encouraging sign-off  ## What to Include 1. **Current conditions**: Temperature, \"feels like\" temp, and overall weather description 2. **Comfort factors**: Humidity levels if notable, wind conditions if significant 3. **Practical advice**: Clothing suggestions, whether to bring an umbrella/sunglasses/layers 4. **Day outlook**: If data includes hourly forecasts, mention any changes expected (morning vs afternoon) 5. **Activity suggestions**: Brief mention if it's a great day for outdoor activities or better to stay cozy inside  ## What to Avoid - Don't just repeat the raw numbers - interpret them - Don't be overly dramatic about normal weather - Don't provide safety warnings for extreme weather you're not qualified to assess - Don't make the message too long - keep it scannable  ## Example Tone Instead of: \"Temperature: 18°C, Partly cloudy, Humidity: 65%\" Say: \"Good morning! It's a pleasant 18°C out there with some clouds playing peek-a-boo with the sun. You'll want a light jacket for the morning, but you might shed it by afternoon!\"  Transform the weather data into a message that makes people smile while helping them plan their day confidently."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          1040,
          -48
        ],
        "id": "dcf4dc04-4aa9-47b5-bf8d-7cc64b93df9e",
        "name": "Message a model",
        "retryOnFail": true,
        "maxTries": 2,
        "credentials": {
          "googlePalmApi": {
            "id": "rnFSzlvICyu1FztM",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// Extract the weather data from the API response\nconst weatherData = $input.first().json;\nconst forecastHours = weatherData.forecastHours;\n\n// Get current hour (first item in the array)\nconst current = forecastHours[0];\n\n// Get the next few hours for trends\nconst next12Hours = forecastHours.slice(0, 13);\n\n// Find day and evening forecasts\nconst dayForecasts = forecastHours.filter(h => h.isDaytime);\nconst eveningForecasts = forecastHours.filter(h => !h.isDaytime);\n\n// Calculate high/low for the day\nconst dayTemps = dayForecasts.map(h => h.temperature.degrees);\nconst highTemp = Math.max(...dayTemps);\nconst lowTemp = Math.min(...dayTemps);\n\n// Check for rain chances\nconst rainChances = forecastHours.map(h => h.precipitation.probability.percent);\nconst maxRainChance = Math.max(...rainChances);\n\n// Format a readable summary\nconst formattedData = {\n  currentConditions: {\n    time: `${current.displayDateTime.hours}:00`,\n    temperature: current.temperature.degrees,\n    feelsLike: current.feelsLikeTemperature.degrees,\n    condition: current.weatherCondition.description.text,\n    humidity: current.relativeHumidity,\n    windSpeed: current.wind.speed.value,\n    windDirection: current.wind.direction.cardinal,\n    uvIndex: current.uvIndex,\n    rainChance: current.precipitation.probability.percent\n  },\n  \n  dayOverview: {\n    highTemp: highTemp,\n    lowTemp: lowTemp,\n    maxRainChance: maxRainChance,\n    summaryConditions: [...new Set(dayForecasts.map(h => h.weatherCondition.description.text))].join(', ')\n  },\n  \n  next12Hours: next12Hours.map(h => ({\n    time: `${h.displayDateTime.hours}:00`,\n    temp: h.temperature.degrees,\n    condition: h.weatherCondition.description.text,\n    rainChance: h.precipitation.probability.percent\n  })),\n  \n  // Formatted text for AI prompt\n  promptText: `Today's Weather Summary:\n\nCURRENT CONDITIONS (${current.displayDateTime.hours}:00):\n- Temperature: ${current.temperature.degrees}°C (feels like ${current.feelsLikeTemperature.degrees}°C)\n- Conditions: ${current.weatherCondition.description.text}\n- Humidity: ${current.relativeHumidity}%\n- Wind: ${current.wind.speed.value} km/h from the ${current.wind.direction.cardinal.toLowerCase().replace(/_/g, '-')}\n- UV Index: ${current.uvIndex}\n- Chance of rain: ${current.precipitation.probability.percent}%\n\nTODAY'S FORECAST:\n- High: ${highTemp}°C\n- Low: ${lowTemp}°C\n- Conditions throughout day: ${[...new Set(dayForecasts.map(h => h.weatherCondition.description.text))].join(', ')}\n- Maximum rain chance: ${maxRainChance}%\n\nNEXT 12 HOURS:\n${next12Hours.map(h => \n  `${h.displayDateTime.hours}:00 - ${h.temperature.degrees}°C, ${h.weatherCondition.description.text}, ${h.precipitation.probability.percent}% rain`\n).join('\\n')}\n\nPlease provide a friendly weather summary based on this data.`\n};\n\nreturn {\n  json: formattedData\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          -48
        ],
        "id": "d1511000-80a0-4a77-aca0-f4e7bcad9108",
        "name": "Generate prompt"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1448492576758956196",
            "mode": "list",
            "cachedResultName": "n8n8n8n",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
          },
          "channelId": {
            "__rl": true,
            "value": "1448493662425190500",
            "mode": "list",
            "cachedResultName": "weather-updates🌞",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1448493662425190500"
          },
          "content": "={{$now.toLocaleString({dateStyle: 'full'})}}\n{{ $json.content.parts[0].text }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1616,
          0
        ],
        "id": "3913c78d-2d85-498f-9a3d-280f6712ef33",
        "name": "Notify Discord",
        "webhookId": "f43964d9-84ec-46f6-928d-cf6139b5e44c",
        "credentials": {
          "discordBotApi": {
            "id": "0q4bkczLogSD1luU",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -80,
          360
        ],
        "id": "ac73d234-449a-40d5-90c7-42793981b2f5",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "path": "d086f11e-3d86-42cf-8749-ec5d25e892f3",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -80,
          -24
        ],
        "id": "c13fefca-f3f4-42cb-8350-3e51b79b3299",
        "name": "Webhook",
        "webhookId": "d086f11e-3d86-42cf-8749-ec5d25e892f3"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"description\": \"{{ $json.content.parts[0].text }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1616,
          -192
        ],
        "id": "72fc58f9-9b8e-4bb1-9459-62d8c9e068ac",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7b7937a8-2bca-47cb-9bf3-64830b2c32d5",
                "leftValue": "={{ $('Webhook').isExecuted }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1392,
          -96
        ],
        "id": "f4e1590b-f19b-43c4-9cfe-382d42f2f451",
        "name": "If triggered by webhook"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1448492576758956196",
            "mode": "list",
            "cachedResultName": "n8n8n8n",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
          },
          "channelId": {
            "__rl": true,
            "value": "1453174481496572208",
            "mode": "list",
            "cachedResultName": "workflow-errors⚠️",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1453174481496572208"
          },
          "content": "={{ $now.toLocaleString({dateStyle: 'full'}) }}\nWorkflow: Daily Weather\nNode: {{ $prevNode.name }}\nError: {{ $json.toJsonString() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1616,
          208
        ],
        "id": "35434780-b124-4226-a2c1-19f49424c8df",
        "name": "Send error",
        "webhookId": "26897aa1-95eb-446b-b8ee-65cced79febd",
        "credentials": {
          "discordBotApi": {
            "id": "0q4bkczLogSD1luU",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "63a03aa6-c10f-4582-953a-b91e7000ff01",
                "leftValue": "={{ $json.body.status }}",
                "rightValue": "OK",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          368,
          96
        ],
        "id": "4d60e7b0-e670-4bec-a1fd-5ceb065efdaf",
        "name": "If valid response"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get Longitude/Latitude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Longitude/Latitude": {
        "main": [
          [
            {
              "node": "If valid response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Hourly Forecast": {
        "main": [
          [
            {
              "node": "Generate prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate prompt": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "If triggered by webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Longitude/Latitude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Longitude/Latitude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If triggered by webhook": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Discord",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If valid response": {
        "main": [
          [
            {
              "node": "Get Hourly Forecast",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Keshav Bharani",
    "name": "v2.1.0",
    "description": "Add error handling"
  },
  "tags": []
}