workflows/exchange-notification.json
{
  "updatedAt": "2026-01-01T06:14:14.530Z",
  "createdAt": "2025-12-17T08:06:55.958Z",
  "id": "nSKe6NEctMGh41rT",
  "name": "EXchange Notification",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -96
      ],
      "id": "055a57a2-6137-42b3-9c3c-0ddba8b7d287",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4672def-ef0d-4b8b-8359-d65df5dcef17",
              "leftValue": "={{ $json.title }}",
              "rightValue": "EXchange/Transit Love Season 4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5abbc726-c782-4540-a920-41b5a36b5e24",
              "leftValue": "={{ $json.title.split(' - ')[2]?.toDateTime('yyMMdd').diffToNow('days').abs() }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        432,
        128
      ],
      "id": "73ded9b4-ec75-46fd-8abc-0cc0cd8523ed",
      "name": "Filter EXchange post"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e2119f9-a8aa-42b0-9096-4ed98238d27c",
              "leftValue": "={{ $json.selftext }}",
              "rightValue": "~BRB whenever possible",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "3c755aa7-7a88-4254-996c-3669409e3683",
              "leftValue": "={{ $json.link_flair_richtext[0].t }}",
              "rightValue": "Raw - Reality",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        224
      ],
      "id": "e50d6693-e1ea-459b-b514-9fd9ef7e3787",
      "name": "If AI subs released"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3d8d756e-78ce-4110-b96e-a5d606fba564",
              "leftValue": "={{ $json.link_flair_richtext[0].t }}",
              "rightValue": "Subtitled - Reality",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        -64
      ],
      "id": "4542368d-cb45-44d3-8215-9ddbd0775605",
      "name": "If official subs released"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1448492576758956196",
          "mode": "list",
          "cachedResultName": "n8n8n8n",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
        },
        "channelId": {
          "__rl": true,
          "value": "1448600243649249361",
          "mode": "list",
          "cachedResultName": "media-updates📺",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1448600243649249361"
        },
        "content": "=**{{ $('Filter EXchange post').item.json.title }}** has been released with official subs!\nLink: {{ $('Filter EXchange post').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1104,
        -112
      ],
      "id": "08eafcdb-08b2-42eb-a818-19478a2f0a26",
      "name": "Notify official subs released",
      "webhookId": "7889af30-fc90-49a1-b6b0-4e836e5b2b46",
      "credentials": {
        "discordBotApi": {
          "id": "0q4bkczLogSD1luU",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1448492576758956196",
          "mode": "list",
          "cachedResultName": "n8n8n8n",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
        },
        "channelId": {
          "__rl": true,
          "value": "1448600243649249361",
          "mode": "list",
          "cachedResultName": "media-updates📺",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1448600243649249361"
        },
        "content": "=**{{ $('Filter EXchange post').item.json.title }}** has been released with AI subs!\nLink: {{ $('Filter EXchange post').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1104,
        400
      ],
      "id": "ea613bcd-a5ad-4b7f-9f0d-04803418df76",
      "name": "Notify AI subs released",
      "webhookId": "7889af30-fc90-49a1-b6b0-4e836e5b2b46",
      "credentials": {
        "discordBotApi": {
          "id": "0q4bkczLogSD1luU",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "username": "MNLYYZYEG",
        "details": "submitted",
        "limit": 10
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "556cc329-aac2-4e2e-a6c2-6e5469aad719",
      "name": "Get posts from user"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        304
      ],
      "id": "97ae7c24-d0e8-4589-976e-18cabf1ed565",
      "name": "AI subs trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        112
      ],
      "id": "0be481be-d2c7-4d9d-b99d-ef92044e4c40",
      "name": "Official subs trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91c8f20e-dde2-4a91-9231-5da7ce4c5878",
              "leftValue": "={{ $('Official subs trigger').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        128
      ],
      "id": "7475ef18-211d-4f5f-9153-2fd725f24f13",
      "name": "If polling official subs"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        208
      ],
      "id": "0dfb0472-a779-4a19-809c-f4e188b3a92f",
      "name": "Wait 15min",
      "webhookId": "283654ac-cc52-4afb-a753-8b23f87a2bca"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get posts from user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter EXchange post": {
      "main": [
        [
          {
            "node": "If polling official subs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If official subs released": {
      "main": [
        [
          {
            "node": "Notify official subs released",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If AI subs released": {
      "main": [
        [
          {
            "node": "Notify AI subs released",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts from user": {
      "main": [
        [
          {
            "node": "Filter EXchange post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI subs trigger": {
      "main": [
        [
          {
            "node": "Get posts from user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Official subs trigger": {
      "main": [
        [
          {
            "node": "Get posts from user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If polling official subs": {
      "main": [
        [
          {
            "node": "If official subs released",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If AI subs released",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15min": {
      "main": [
        [
          {
            "node": "Get posts from user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:AI subs trigger": {
      "recurrenceRules": []
    },
    "node:Official subs trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "95b7e02b-f841-4297-a29d-7e743f8973e3",
  "activeVersionId": "95b7e02b-f841-4297-a29d-7e743f8973e3",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-17T08:06:55.977Z",
      "createdAt": "2025-12-17T08:06:55.977Z",
      "role": "workflow:owner",
      "workflowId": "nSKe6NEctMGh41rT",
      "projectId": "Zegp8TetQgawftof"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-01T06:13:31.000Z",
    "createdAt": "2026-01-01T06:13:04.285Z",
    "versionId": "95b7e02b-f841-4297-a29d-7e743f8973e3",
    "workflowId": "nSKe6NEctMGh41rT",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -16,
          -96
        ],
        "id": "055a57a2-6137-42b3-9c3c-0ddba8b7d287",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b4672def-ef0d-4b8b-8359-d65df5dcef17",
                "leftValue": "={{ $json.title }}",
                "rightValue": "EXchange/Transit Love Season 4",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "5abbc726-c782-4540-a920-41b5a36b5e24",
                "leftValue": "={{ $json.title.split(' - ')[2]?.toDateTime('yyMMdd').diffToNow('days').abs() }}",
                "rightValue": 3,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          432,
          128
        ],
        "id": "73ded9b4-ec75-46fd-8abc-0cc0cd8523ed",
        "name": "Filter EXchange post"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2e2119f9-a8aa-42b0-9096-4ed98238d27c",
                "leftValue": "={{ $json.selftext }}",
                "rightValue": "~BRB whenever possible",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "3c755aa7-7a88-4254-996c-3669409e3683",
                "leftValue": "={{ $json.link_flair_richtext[0].t }}",
                "rightValue": "Raw - Reality",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          880,
          224
        ],
        "id": "e50d6693-e1ea-459b-b514-9fd9ef7e3787",
        "name": "If AI subs released"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "3d8d756e-78ce-4110-b96e-a5d606fba564",
                "leftValue": "={{ $json.link_flair_richtext[0].t }}",
                "rightValue": "Subtitled - Reality",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          880,
          -64
        ],
        "id": "4542368d-cb45-44d3-8215-9ddbd0775605",
        "name": "If official subs released"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1448492576758956196",
            "mode": "list",
            "cachedResultName": "n8n8n8n",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
          },
          "channelId": {
            "__rl": true,
            "value": "1448600243649249361",
            "mode": "list",
            "cachedResultName": "media-updates📺",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1448600243649249361"
          },
          "content": "=**{{ $('Filter EXchange post').item.json.title }}** has been released with official subs!\nLink: {{ $('Filter EXchange post').item.json.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1104,
          -112
        ],
        "id": "08eafcdb-08b2-42eb-a818-19478a2f0a26",
        "name": "Notify official subs released",
        "webhookId": "7889af30-fc90-49a1-b6b0-4e836e5b2b46",
        "credentials": {
          "discordBotApi": {
            "id": "0q4bkczLogSD1luU",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1448492576758956196",
            "mode": "list",
            "cachedResultName": "n8n8n8n",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
          },
          "channelId": {
            "__rl": true,
            "value": "1448600243649249361",
            "mode": "list",
            "cachedResultName": "media-updates📺",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1448600243649249361"
          },
          "content": "=**{{ $('Filter EXchange post').item.json.title }}** has been released with AI subs!\nLink: {{ $('Filter EXchange post').item.json.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1104,
          400
        ],
        "id": "ea613bcd-a5ad-4b7f-9f0d-04803418df76",
        "name": "Notify AI subs released",
        "webhookId": "7889af30-fc90-49a1-b6b0-4e836e5b2b46",
        "credentials": {
          "discordBotApi": {
            "id": "0q4bkczLogSD1luU",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "resource": "user",
          "username": "MNLYYZYEG",
          "details": "submitted",
          "limit": 10
        },
        "type": "n8n-nodes-base.reddit",
        "typeVersion": 1,
        "position": [
          208,
          208
        ],
        "id": "556cc329-aac2-4e2e-a6c2-6e5469aad719",
        "name": "Get posts from user"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  4
                ],
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -16,
          304
        ],
        "id": "97ae7c24-d0e8-4589-976e-18cabf1ed565",
        "name": "AI subs trigger"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  4
                ],
                "triggerAtHour": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -16,
          112
        ],
        "id": "0be481be-d2c7-4d9d-b99d-ef92044e4c40",
        "name": "Official subs trigger"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "91c8f20e-dde2-4a91-9231-5da7ce4c5878",
                "leftValue": "={{ $('Official subs trigger').isExecuted }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          656,
          128
        ],
        "id": "7475ef18-211d-4f5f-9153-2fd725f24f13",
        "name": "If polling official subs"
      },
      {
        "parameters": {
          "amount": 15,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1104,
          208
        ],
        "id": "0dfb0472-a779-4a19-809c-f4e188b3a92f",
        "name": "Wait 15min",
        "webhookId": "283654ac-cc52-4afb-a753-8b23f87a2bca"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get posts from user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter EXchange post": {
        "main": [
          [
            {
              "node": "If polling official subs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If official subs released": {
        "main": [
          [
            {
              "node": "Notify official subs released",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 15min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If AI subs released": {
        "main": [
          [
            {
              "node": "Notify AI subs released",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 15min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get posts from user": {
        "main": [
          [
            {
              "node": "Filter EXchange post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI subs trigger": {
        "main": [
          [
            {
              "node": "Get posts from user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Official subs trigger": {
        "main": [
          [
            {
              "node": "Get posts from user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If polling official subs": {
        "main": [
          [
            {
              "node": "If official subs released",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If AI subs released",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 15min": {
        "main": [
          [
            {
              "node": "Get posts from user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Keshav Bharani",
    "name": "v1.2.0",
    "description": "Updated polling to use a loop within the workflow"
  },
  "tags": [
    {
      "updatedAt": "2026-01-01T06:14:12.897Z",
      "createdAt": "2026-01-01T06:14:12.897Z",
      "id": "FdBJ7E45KWwgTkmI",
      "name": "v1.2.0"
    }
  ]
}