workflows/git-sync-v2.json
{
  "updatedAt": "2025-12-24T23:46:39.535Z",
  "createdAt": "2025-12-15T09:03:11.618Z",
  "id": "70Pr9e2vnC0YTVPT",
  "name": "Git Sync v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "05f5721e-a2f9-4c2f-9e75-02298a2642d8",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -512,
        1136
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "PfJPRjIXNtVRsvsK",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "a29ef92b-0ad6-4d42-a7bd-0cc8507666ee",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2128,
        624
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "53472339-9d24-4d16-909a-5481dfd8db76",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -1296,
        752
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "Hl56b4iirORx4pMb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "59bece50-cdf8-4c2e-98a8-c91ad079a5c2",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1504,
        560
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "PfJPRjIXNtVRsvsK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "sync-new"
          }
        }
      },
      "id": "b72ef06f-13aa-44f8-acf5-01019c0741be",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        528,
        240
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Hl56b4iirORx4pMb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "bd660984-578d-4ed8-9626-57b6660062ac",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        16,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "b21fddfd-61a5-42a6-a2f7-2b8bddbc3bca",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        192,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "911ef183-0893-4f0b-a2fd-d203bae763f0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $('Edit for Update').item.json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Set sync diff branch').item.json.sync_branch }}"
          }
        }
      },
      "id": "8471fd72-3b4a-40a8-aef7-ef4793b93c28",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1152,
        800
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Hl56b4iirORx4pMb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "d5f31067-edc2-4830-9a96-5a1a50f01873",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        496,
        800
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "f3331758-8538-44af-8af7-36f2dcee9f43",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        720,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "ff6158a9-e9e9-458b-b171-ceddc845ebab",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        -896,
        624
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "edef4d2b-d581-4c7e-b0ae-51593651532d",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        32,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "PfJPRjIXNtVRsvsK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workflowId = $input.item.json.same.id;\nconst allDecoded = $('Decode to json').all();\n\nconst matched = allDecoded.find(item => item.json.id === workflowId);\n\nreturn matched \n  ? { json: { dataset: matched.json } }\n  : {};"
      },
      "id": "31b138e1-f953-4914-b00a-a61dfd37cb92",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        -192,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const githubWorkflows = $('If n8n before GitHub').all().map(item => item.json);\nconst n8nWorkflows = $('n8n').all().map(item => item.json);\n\nconst githubIds = new Set(githubWorkflows.map(item => item.same.id));\nconst matches = n8nWorkflows.filter(item => githubIds.has(item.id));\n\nreturn matches.map(item => ({ json: item }));"
      },
      "id": "78e238d6-a826-452b-8774-32b216675266",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        304,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "b68cd5ec-75c8-4223-9af0-408dd1783a2d",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "eed6a0ff-ece2-4d9a-ba35-f13a7c87f3a8",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        944,
        800
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 368,
        "width": 1288
      },
      "id": "d9078409-060f-4ffc-bb65-ab88385f961b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB (DISABLED)\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "da47909a-9187-4deb-a677-f07e2b164386",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ccddccd6-4d05-4b0a-b140-5725b3cbe7f9",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        -512,
        752
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "e0da3150-c95f-4c94-a1b4-c22dcd2b5847",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        -1104,
        752
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "3c712dc9-bec5-41ac-aeef-fcffe6f43870",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1504,
        752
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "Vahsek123"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "n8n-workflows"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "3109ca42-73e0-4313-a9a1-5cff8f3130eb",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1904,
        624
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "={{ $json.repo_workflows_path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1680,
        752
      ],
      "id": "3fb67808-a134-4992-8508-273f8f4fea00",
      "name": "List files",
      "webhookId": "74d7986c-8d65-4048-b6aa-ebec98628565",
      "credentials": {
        "githubApi": {
          "id": "Hl56b4iirORx4pMb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1448492576758956196",
          "mode": "list",
          "cachedResultName": "n8n8n8n",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
        },
        "channelId": {
          "__rl": true,
          "value": "1449574270350131211",
          "mode": "list",
          "cachedResultName": "n8n-updates⏩",
          "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1449574270350131211"
        },
        "content": "={{$now.toLocaleString({dateStyle: 'long'})}}\nGit sync completed successfully!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2016,
        704
      ],
      "id": "cbad4e69-64f3-41c5-97ef-240f04e75082",
      "name": "Notify completed",
      "webhookId": "12b9f4f5-30ea-4f6a-ac30-02f42bfcb087",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "0q4bkczLogSD1luU",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "emZlmWCsBd6Xwzr4",
          "mode": "list",
          "cachedResultUrl": "/workflow/emZlmWCsBd6Xwzr4",
          "cachedResultName": "Create Sync Branch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
            "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
            "new_branch_name": "={{ $json.sync_branch }}"
          },
          "matchingColumns": [
            "github_account_name",
            "github_repo_name"
          ],
          "schema": [
            {
              "id": "github_account_name",
              "displayName": "github_account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "github_repo_name",
              "displayName": "github_repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "new_branch_name",
              "displayName": "new_branch_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -16,
        864
      ],
      "name": "Create Sync Diff Branch",
      "id": "9381b665-954f-41c5-924a-8199a2950d43"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "emZlmWCsBd6Xwzr4",
          "mode": "list",
          "cachedResultUrl": "/workflow/emZlmWCsBd6Xwzr4",
          "cachedResultName": "Create Sync Branch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
            "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
            "new_branch_name": "={{ $json.sync_branch }}"
          },
          "matchingColumns": [
            "github_account_name",
            "github_repo_name"
          ],
          "schema": [
            {
              "id": "github_account_name",
              "displayName": "github_account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "github_repo_name",
              "displayName": "github_repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "new_branch_name",
              "displayName": "new_branch_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -352,
        304
      ],
      "name": "Create Sync New Branch",
      "id": "f04a04d6-18d3-4985-9fb9-517343f39e33"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c49f87e-3b8b-4f63-af89-f0693755634e",
              "name": "sync_branch",
              "value": "sync-new",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        240
      ],
      "id": "13a6b9ed-f507-4917-8301-6ad5e0bbd0ca",
      "name": "Set sync new branch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b439f26b-e834-445b-b1dd-0b1e2f6e7f1e",
              "name": "sync_branch",
              "value": "sync-diff",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        800
      ],
      "id": "ad4ea755-ed3a-455c-83ad-c76c3b8892ca",
      "name": "Set sync diff branch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "m56jDaVjH7yh8OvR",
          "mode": "list",
          "cachedResultUrl": "/workflow/m56jDaVjH7yh8OvR",
          "cachedResultName": "Merge Sync Branch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
            "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
            "sync_branch": "={{ $('Set sync diff branch').item.json.sync_branch }}"
          },
          "matchingColumns": [
            "github_account_name",
            "github_repo_name"
          ],
          "schema": [
            {
              "id": "github_account_name",
              "displayName": "github_account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "github_repo_name",
              "displayName": "github_repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sync_branch",
              "displayName": "sync_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1552,
        816
      ],
      "name": "Merge sync diff branch",
      "id": "2612e692-d90a-43f7-8e77-8242e63b7f41",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "m56jDaVjH7yh8OvR",
          "mode": "list",
          "cachedResultUrl": "/workflow/m56jDaVjH7yh8OvR",
          "cachedResultName": "Merge Sync Branch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
            "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
            "sync_branch": "={{ $('Set sync new branch').item.json.sync_branch }}"
          },
          "matchingColumns": [
            "github_account_name",
            "github_repo_name"
          ],
          "schema": [
            {
              "id": "github_account_name",
              "displayName": "github_account_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "github_repo_name",
              "displayName": "github_repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sync_branch",
              "displayName": "sync_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1760,
        560
      ],
      "name": "Merge sync new branch",
      "id": "4d020f7f-a183-4a1f-8e94-6ea72c2d6113"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        192
      ],
      "id": "79592a88-f60a-474f-aafc-d7dbb3c900c3",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        768
      ],
      "id": "14c5d9b5-b5e5-47f6-83b0-979e65f8b53e",
      "name": "Merge1"
    }
  ],
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Set sync new branch",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set sync diff branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge sync new branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update workflow in n8n": {
      "main": [
        [
          {
            "node": "Notify completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Merge sync diff branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new workflow in n8n": {
      "main": [
        [
          {
            "node": "Notify completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify completed": {
      "main": [
        []
      ]
    },
    "Create Sync Diff Branch": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Sync New Branch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set sync new branch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Sync New Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set sync diff branch": {
      "main": [
        [
          {
            "node": "Create Sync Diff Branch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge sync diff branch": {
      "main": [
        [
          {
            "node": "Notify completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge sync new branch": {
      "main": [
        [
          {
            "node": "Notify completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "853e07ac-c864-40dc-a80a-729d3d7f4c82",
  "activeVersionId": "95c95bca-37d1-4ed7-b18e-b215b208a045",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-15T09:03:11.628Z",
      "createdAt": "2025-12-15T09:03:11.628Z",
      "role": "workflow:owner",
      "workflowId": "70Pr9e2vnC0YTVPT",
      "projectId": "Zegp8TetQgawftof"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-24T05:50:22.000Z",
    "createdAt": "2025-12-24T05:50:16.426Z",
    "versionId": "95c95bca-37d1-4ed7-b18e-b215b208a045",
    "workflowId": "70Pr9e2vnC0YTVPT",
    "nodes": [
      {
        "parameters": {
          "operation": "create",
          "workflowObject": "={{ $json.toJsonString()  }}",
          "requestOptions": {}
        },
        "id": "05f5721e-a2f9-4c2f-9e75-02298a2642d8",
        "name": "Create new workflow in n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -512,
          1136
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "PfJPRjIXNtVRsvsK",
            "name": "n8n account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "a29ef92b-0ad6-4d42-a7bd-0cc8507666ee",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -2128,
          624
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
          },
          "filePath": "={{ $json.path }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "53472339-9d24-4d16-909a-5481dfd8db76",
        "name": "GitHub",
        "type": "n8n-nodes-base.github",
        "position": [
          -1296,
          752
        ],
        "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "Hl56b4iirORx4pMb",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "59bece50-cdf8-4c2e-98a8-c91ad079a5c2",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -1504,
          560
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "PfJPRjIXNtVRsvsK",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
          },
          "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Upload'].json.fileName }}",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
          "additionalParameters": {
            "branch": {
              "branch": "sync-new"
            }
          }
        },
        "id": "b72ef06f-13aa-44f8-acf5-01019c0741be",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          528,
          240
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "Hl56b4iirORx4pMb",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "bd660984-578d-4ed8-9626-57b6660062ac",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          16,
          240
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "b21fddfd-61a5-42a6-a2f7-2b8bddbc3bca",
        "name": "To base64",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          192,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
          "height": 400,
          "width": 340,
          "color": 3
        },
        "id": "911ef183-0893-4f0b-a2fd-d203bae763f0",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -624,
          528
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set GitHub Details').item.json.github_account_name }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
          },
          "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $('Edit for Update').item.json.fileName }}",
          "fileContent": "={{ $('To base').item.json.data }}",
          "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}",
          "additionalParameters": {
            "branch": {
              "branch": "={{ $('Set sync diff branch').item.json.sync_branch }}"
            }
          }
        },
        "id": "8471fd72-3b4a-40a8-aef7-ef4793b93c28",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1152,
          800
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "Hl56b4iirORx4pMb",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "d5f31067-edc2-4830-9a96-5a1a50f01873",
        "name": "Json file1",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          496,
          800
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "f3331758-8538-44af-8af7-36f2dcee9f43",
        "name": "To base",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          720,
          800
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "id",
                "field2": "id"
              }
            ]
          },
          "options": {}
        },
        "id": "ff6158a9-e9e9-458b-b171-ceddc845ebab",
        "name": "n8n vs GitHub",
        "type": "n8n-nodes-base.compareDatasets",
        "position": [
          -896,
          624
        ],
        "typeVersion": 2.3
      },
      {
        "parameters": {
          "operation": "update",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.dataset.id }}"
          },
          "workflowObject": "={{ $json.dataset.toJsonString() }}",
          "requestOptions": {}
        },
        "id": "edef4d2b-d581-4c7e-b0ae-51593651532d",
        "name": "Update workflow in n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          32,
          592
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "PfJPRjIXNtVRsvsK",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const workflowId = $input.item.json.same.id;\nconst allDecoded = $('Decode to json').all();\n\nconst matched = allDecoded.find(item => item.json.id === workflowId);\n\nreturn matched \n  ? { json: { dataset: matched.json } }\n  : {};"
        },
        "id": "31b138e1-f953-4914-b00a-a61dfd37cb92",
        "name": "Code - InputB",
        "type": "n8n-nodes-base.code",
        "position": [
          -192,
          592
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const githubWorkflows = $('If n8n before GitHub').all().map(item => item.json);\nconst n8nWorkflows = $('n8n').all().map(item => item.json);\n\nconst githubIds = new Set(githubWorkflows.map(item => item.same.id));\nconst matches = n8nWorkflows.filter(item => githubIds.has(item.id));\n\nreturn matches.map(item => ({ json: item }));"
        },
        "id": "78e238d6-a826-452b-8774-32b216675266",
        "name": "Code - InputA",
        "type": "n8n-nodes-base.code",
        "position": [
          304,
          800
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "b68cd5ec-75c8-4223-9af0-408dd1783a2d",
        "name": "Edit for Upload",
        "type": "n8n-nodes-base.set",
        "position": [
          368,
          240
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{\n$('Code - InputA').item.json.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "eed6a0ff-ece2-4d9a-ba35-f13a7c87f3a8",
        "name": "Edit for Update",
        "type": "n8n-nodes-base.set",
        "position": [
          944,
          800
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
          "height": 368,
          "width": 1288
        },
        "id": "d9078409-060f-4ffc-bb65-ab88385f961b",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -624,
          96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## IF ONLY IN GITHUB (DISABLED)\nCreate new workflow in n8n",
          "height": 340,
          "width": 340,
          "color": 6
        },
        "id": "da47909a-9187-4deb-a677-f07e2b164386",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -624,
          992
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                },
                "leftValue": "={{ $json.different.updatedAt.inputA }}",
                "rightValue": "={{ $json.different.updatedAt.inputB }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ccddccd6-4d05-4b0a-b140-5725b3cbe7f9",
        "name": "If n8n before GitHub",
        "type": "n8n-nodes-base.if",
        "position": [
          -512,
          752
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{  $json.content.base64Decode() }}",
          "options": {}
        },
        "id": "e0da3150-c95f-4c94-a1b4-c22dcd2b5847",
        "name": "Decode to json",
        "type": "n8n-nodes-base.set",
        "position": [
          -1104,
          752
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                },
                "leftValue": "={{ $json.name }}",
                "rightValue": "placeholder"
              }
            ]
          },
          "options": {}
        },
        "id": "3c712dc9-bec5-41ac-aeef-fcffe6f43870",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "position": [
          -1504,
          752
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
                "name": "github_account_name",
                "type": "string",
                "value": "Vahsek123"
              },
              {
                "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
                "name": "github_repo_name",
                "type": "string",
                "value": "n8n-workflows"
              },
              {
                "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
                "name": "repo_workflows_path",
                "type": "string",
                "value": "workflows/"
              }
            ]
          },
          "options": {}
        },
        "id": "3109ca42-73e0-4313-a9a1-5cff8f3130eb",
        "name": "Set GitHub Details",
        "type": "n8n-nodes-base.set",
        "position": [
          -1904,
          624
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.github_account_name }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.github_repo_name }}"
          },
          "filePath": "={{ $json.repo_workflows_path }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1680,
          752
        ],
        "id": "3fb67808-a134-4992-8508-273f8f4fea00",
        "name": "List files",
        "webhookId": "74d7986c-8d65-4048-b6aa-ebec98628565",
        "credentials": {
          "githubApi": {
            "id": "Hl56b4iirORx4pMb",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1448492576758956196",
            "mode": "list",
            "cachedResultName": "n8n8n8n",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196"
          },
          "channelId": {
            "__rl": true,
            "value": "1449574270350131211",
            "mode": "list",
            "cachedResultName": "n8n-updates⏩",
            "cachedResultUrl": "https://discord.com/channels/1448492576758956196/1449574270350131211"
          },
          "content": "={{$now.toLocaleString({dateStyle: 'long'})}}\nGit sync completed successfully!",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2016,
          704
        ],
        "id": "cbad4e69-64f3-41c5-97ef-240f04e75082",
        "name": "Notify completed",
        "webhookId": "12b9f4f5-30ea-4f6a-ac30-02f42bfcb087",
        "executeOnce": true,
        "credentials": {
          "discordBotApi": {
            "id": "0q4bkczLogSD1luU",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "emZlmWCsBd6Xwzr4",
            "mode": "list",
            "cachedResultUrl": "/workflow/emZlmWCsBd6Xwzr4",
            "cachedResultName": "Create Sync Branch"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
              "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
              "new_branch_name": "={{ $json.sync_branch }}"
            },
            "matchingColumns": [
              "github_account_name",
              "github_repo_name"
            ],
            "schema": [
              {
                "id": "github_account_name",
                "displayName": "github_account_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "github_repo_name",
                "displayName": "github_repo_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "new_branch_name",
                "displayName": "new_branch_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -16,
          864
        ],
        "name": "Create Sync Diff Branch",
        "id": "9381b665-954f-41c5-924a-8199a2950d43"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "emZlmWCsBd6Xwzr4",
            "mode": "list",
            "cachedResultUrl": "/workflow/emZlmWCsBd6Xwzr4",
            "cachedResultName": "Create Sync Branch"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
              "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
              "new_branch_name": "={{ $json.sync_branch }}"
            },
            "matchingColumns": [
              "github_account_name",
              "github_repo_name"
            ],
            "schema": [
              {
                "id": "github_account_name",
                "displayName": "github_account_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "github_repo_name",
                "displayName": "github_repo_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "new_branch_name",
                "displayName": "new_branch_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -352,
          304
        ],
        "name": "Create Sync New Branch",
        "id": "f04a04d6-18d3-4985-9fb9-517343f39e33"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3c49f87e-3b8b-4f63-af89-f0693755634e",
                "name": "sync_branch",
                "value": "sync-new",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -576,
          240
        ],
        "id": "13a6b9ed-f507-4917-8301-6ad5e0bbd0ca",
        "name": "Set sync new branch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b439f26b-e834-445b-b1dd-0b1e2f6e7f1e",
                "name": "sync_branch",
                "value": "sync-diff",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -192,
          800
        ],
        "id": "ad4ea755-ed3a-455c-83ad-c76c3b8892ca",
        "name": "Set sync diff branch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "m56jDaVjH7yh8OvR",
            "mode": "list",
            "cachedResultUrl": "/workflow/m56jDaVjH7yh8OvR",
            "cachedResultName": "Merge Sync Branch"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
              "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
              "sync_branch": "={{ $('Set sync diff branch').item.json.sync_branch }}"
            },
            "matchingColumns": [
              "github_account_name",
              "github_repo_name"
            ],
            "schema": [
              {
                "id": "github_account_name",
                "displayName": "github_account_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "github_repo_name",
                "displayName": "github_repo_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "sync_branch",
                "displayName": "sync_branch",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1552,
          816
        ],
        "name": "Merge sync diff branch",
        "id": "2612e692-d90a-43f7-8e77-8242e63b7f41",
        "executeOnce": false
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "m56jDaVjH7yh8OvR",
            "mode": "list",
            "cachedResultUrl": "/workflow/m56jDaVjH7yh8OvR",
            "cachedResultName": "Merge Sync Branch"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "github_account_name": "={{ $('Set GitHub Details').item.json.github_account_name }}",
              "github_repo_name": "={{ $('Set GitHub Details').item.json.github_repo_name }}",
              "sync_branch": "={{ $('Set sync new branch').item.json.sync_branch }}"
            },
            "matchingColumns": [
              "github_account_name",
              "github_repo_name"
            ],
            "schema": [
              {
                "id": "github_account_name",
                "displayName": "github_account_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "github_repo_name",
                "displayName": "github_repo_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "sync_branch",
                "displayName": "sync_branch",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1760,
          560
        ],
        "name": "Merge sync new branch",
        "id": "4d020f7f-a183-4a1f-8e94-6ea72c2d6113"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -160,
          192
        ],
        "id": "79592a88-f60a-474f-aafc-d7dbb3c900c3",
        "name": "Merge"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          112,
          768
        ],
        "id": "14c5d9b5-b5e5-47f6-83b0-979e65f8b53e",
        "name": "Merge1"
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "n8n vs GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub": {
        "main": [
          [
            {
              "node": "Decode to json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base": {
        "main": [
          [
            {
              "node": "Edit for Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base64": {
        "main": [
          [
            {
              "node": "Edit for Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file1": {
        "main": [
          [
            {
              "node": "To base",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - InputA": {
        "main": [
          [
            {
              "node": "Json file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - InputB": {
        "main": [
          [
            {
              "node": "Update workflow in n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n vs GitHub": {
        "main": [
          [
            {
              "node": "Set sync new branch",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "If n8n before GitHub",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create new workflow in n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decode to json": {
        "main": [
          [
            {
              "node": "n8n vs GitHub",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit for Update": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit for Upload": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set GitHub Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set GitHub Details": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            },
            {
              "node": "List files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If n8n before GitHub": {
        "main": [
          [
            {
              "node": "Code - InputB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set sync diff branch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          [
            {
              "node": "Merge sync new branch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update workflow in n8n": {
        "main": [
          [
            {
              "node": "Notify completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update file": {
        "main": [
          [
            {
              "node": "Merge sync diff branch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new workflow in n8n": {
        "main": [
          [
            {
              "node": "Notify completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify completed": {
        "main": [
          []
        ]
      },
      "Create Sync Diff Branch": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Create Sync New Branch": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Set sync new branch": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create Sync New Branch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set sync diff branch": {
        "main": [
          [
            {
              "node": "Create Sync Diff Branch",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge sync diff branch": {
        "main": [
          [
            {
              "node": "Notify completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge sync new branch": {
        "main": [
          [
            {
              "node": "Notify completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Code - InputA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Keshav Bharani",
    "name": "v2.0.0",
    "description": ""
  },
  "tags": []
}